.main-content {
  color: #586e75;
  justify-content: center;
}

.button {
  border: none;
  color: white;
  padding: 8px 13px;
  font-size: 14px;
  background: #268bd2;
  height: 32px;
}

.playerParent {
  height: 390px;
  width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
  margin: auto;
  margin-bottom: 10px;
  background: #bfd0d0;
  flex-direction: column;
}

.previous-answer,
.quiz-status {
  flex-direction: column;
  font-size: 26px;
  color: #d33682;
  display: none;
}

.previous-answer{
  font-size: 16px;
}

.content-section {
  border: 1px solid #afc0c0;
  width: 700px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  background: #fdf6e3;
}

#quiz-status-display,
#quiz-countdown-display {
  margin: 0;
}

#preQuizText {
  z-index: 1;
}

input:focus::placeholder {
  color: transparent;
}

b {
  color: #586e75;
}

b-magenta {
  font-weight: bold;
  color: #d33682;
}

h1 {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #586e75;
}

h2 {
  font-size: 16px;
  font-weight: bolder;
}

p {
  font-size: 14px;
}

#loadPlaylistButton,
#setGuessTimeLimitSecondsButton,
#setVidTimeLeftButton {
  background: #859900;
}

#loadPlaylistButton {
  background: #2aa198;
}

#previousVideoButton {
  background-image: url('../images/icons/skip-previous-white.png');
  background-size: cover;
  background-position: center;
}

#nextVideoButton {
  background-image: url('../images/icons/skip-next-white.png');
  background-size: cover;
  background-position: center;
}

#playVideoButton {
  background: #859900;
  background-image: url('../images/icons/play-white.png');
  background-size: cover;
  background-position: center;
}

#pauseVideoButton {
  background: #b58900;
  background-image: url('../images/icons/pause-white.png');
  background-size: cover;
  background-position: center;
}

#endQuizForVidButton,
#reveal-answer {
  background: #cb4b16;
}

#pause-countdown {
  background: #b58900;
  display: none;
}

.vid-control-button {
  background-size: cover;
  background-position: center;
  width: 32px;
}

#ytVolume {
  height: 10px;
  width: 80px;
}

#fooni-header {
  height: 60px;
}

.button:hover {
  filter: brightness(75%);
}

#fooni-header:hover {
  background: #002b36;
  filter: brightness(100%);
  outline: solid;
  outline-color: #6c71c4;
}

.button:active,
#fooni-header:active {
  background-color: #002b36;
  filter: brightness(40%);
  outline: none;
}

.video-controls {
  display: flex;
}

.middle-video-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.video-controls-2 {
  padding-left: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.end-quiz-controls {
  padding-right: 29px;
  display: flex;
  margin-left: auto;
}

.icon {
  height: 30px;
}

#errorMessage {
  font-size: 12px;
  font-weight: bold;
  color: #dc322f;
}

#mainView {
  display: flex;
  flex-direction: column;
}

.settings {
  display:flex;
  text-align: left;
  flex-direction: column;
}

.content-section-title {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

#quiz-status-section {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

#github-logo {
  height: 40px;
}

.settings-subsection{
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 5px;
  padding-left: 29px;
  padding-right: 29px;
  margin-bottom: 10px;
  font-size: 12px;
}

.settings-subsection div {
  flex: 1;
  display: flex;
  align-items: left;
  column-gap: 5px;
}

.settings-subsection > div:first-child { 
  margin: 0px;
  margin-bottom: 10px;
  flex-direction: column;
}

#custom-start-time-link {
  font-size: 14px;
}

.troubleshooting {
  text-align: left;
}

.troubleshooting h2,
.troubleshooting p {
  margin-left: 29px;
  margin-right: 29px;
}

.troubleshooting p {
  margin-top: 5px;
  margin-bottom: 30px;
}

.troubleshooting ul {
  margin-top: -25px;
  margin-bottom: 20px;
  font-size: 14px;
  margin-left: 29px;
  margin-right: 29px;
}

#last-answer-text,
.quiz-status {
  padding-left: 10px;
  padding-right: 10px;
}

.middle-video-controls {
  display: none;
  justify-content: right;
  margin-right: 10px;
}

#playlist-video-order {
  margin-bottom: 2px;
}